<div class="container">
    <span class="error">
            {{messages.error}}
    </span>
    <h2>Add expense</h2>
    <form action="/expense" method="post">
        <div class="add">
    
            <label for="">Description</label>
            <input type="text" class="description" name="description" required><br>
            <label for="">Amount</label>
            <input type="text" class="Amount" name="amount" required><br>
            <label>Category</label>
            <select class="category" name="category">
            <option value="">Choose</option>  
            {{#each category}}
            <option value={{this.id}}>{{this.category_type}}</option>
            {{/each}}
            </select><br>
            <button type="submit">Add expense</button>
        </div>
     </form>
    
    <h3>Total expenses</h3><span></span>
    <p>Expense summary per category</p>
    <label>Filter by Category </label>
    <form action="/filter" method="post" class="filterForm">
    <select class="filter" name="filter" onchange="submit()";>
            <option value="">Choose</option>
             {{#each category}}
            <option value={{this.id}}>{{this.category_type}}</option>
            {{/each}}
    </select>
    </form>
    <table>
        <tr>
            <th>Category</th>
            <th>Amounts</th>
        </tr>
        {{#each byFilter}}
        <tr>
            <td>{{this.expense}}</td>
            <td>{{this.amount}}</td>
        </tr>
        {{/each}}
    
        
    </table>

    <a href="/expense">View expenses</a>
</div>